<div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
  <audio #audio style="height: 0px; width: 0px"></audio>
  <button fxLayout="row" fxLayoutAlign="start center" fxFlex="grow" *ngIf="!isRecording" mat-raised-button color="primary"  (click)="startRecording()">
    <mat-icon>keyboard_voice</mat-icon> <span>Grabar</span></button>
  <button fxLayout="row" fxLayoutAlign="start center" fxFlex="grow" *ngIf="isRecording" mat-raised-button color="primary"  (click) ="stopRecording()">
    <mat-icon>stop</mat-icon>
    <span>Frenar</span>
    <span *ngIf="isRecording"> {{currentTime}}/{{maxSeconds}} s</span>
  </button>
</div>
