<form [formGroup]="form" *ngIf="form">
  <div fxFlex="grow" fxLayout="column" fxLayoutAlign="start center" class="full-width" fxLayoutGap="1%">
    <div fxFlex="grow" fxLayout="column" fxLayoutAlign="center start" class="full-width" fxLayoutGap="1%">
      <div
        fxLayout.xs="column"
        fxLayout="row"
        class="full-width" fxLayoutAlign="start space-between" fxLayoutGap="2%">
        <div fxFlex="45" fxFlex.xs="70" fxLayout="column" fxLayoutAlign="start start">
          <mat-form-field
            *ngIf="withText"
            #withText appearance="standard" color="primary" fxFlex="75" class="full-width">
            <mat-label style="color: white">Texto:</mat-label>
            <!--      [formControlName]="'value'"  TODO CHECK THIS ONE  -->
            <input *ngIf="!textArea" matInput style="color: white;" maxlength="{{maxTextLength}}"
                   [formControlName]="'text'"
                   type="text"
                   [placeholder]="'En verano suele llover.'">
            <textarea *ngIf="textArea" matInput style="color: white;" maxlength="{{maxTextLength}}"
                      [formControlName]="'text'"
                      [placeholder]="'En verano suele llover.'"></textarea>
            <!--        <textarea style="color: white" maxlength="256" fxFlex="grow" fxFlexFill matInput-->
            <!--               [placeholder]="'En verano suele llover.'"> -->
            <mat-icon style="color: white" *ngIf="form.valid" matSuffix>check_circle</mat-icon>
            <mat-hint style="color: white" style="font-size: 80%" align="end">{{form.get('text').value.length}}/{{maxTextLength}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="45"
             fxFlex.xs="51"
              style="height: 100%; margin-top: 3%"
             fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2%">
          <div *ngIf="form.get('image').value !== ''; else imageElse" class="full-width" style="max-height: 40%;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">
            <img style="max-width: 50%"  [src]=" form.get('image').value.data ? sanitize.bypassSecurityTrustResourceUrl(form.get('image').value.data.base64)
              : (mediaFilesAlreadyLoaded.get(form.get('image').value) | async)"/>
            <img (click)="removeProp('image')" style=" width: 10%" src="https://storage.googleapis.com/common-ox-assets/mini-lessons/answer-hunter/creator/trash-icon.png"/>
          </div>
          <ng-template #imageElse>
            <div class="full-width" style="max-height: 40%;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">
              <input
                [accept]="'image/*'" class="input-file" #imageInput type="file" ngFileSelect
                (uploadOutput)="uploadFile($event, 'image'); form.markAsDirty()">
              <img (click)="imageInput.click()" class="showable-add-property-icon" style="width: 15%" src="https://storage.googleapis.com/common-ox-assets/mini-lessons/answer-hunter/creator/image-icon.png"/>
            </div>
           </ng-template>

          <div *ngIf="this._form.get('audio').value; else soundElse" class="full-width" style="max-height: 40%;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">
            <audio style="max-height: 80%; width: 50%"  #audio (click)="$event.stopPropagation()" controls
                   controlsList="novolume"
                   class="full-width"
                   controlsList="nodownload">
              <source  [src]="sanitize.bypassSecurityTrustResourceUrl( form.get('audio').value.data ?
              form.get('audio').value.data.base64 : (mediaFilesAlreadyLoaded.get(form.get('audio').value) | async))"
                      type="audio/mpeg">
              Tu navegador no puede reproducir este audio.
            </audio>
            <img style=" width: 10%" (click)="removeProp('audio')" src="https://storage.googleapis.com/common-ox-assets/mini-lessons/answer-hunter/creator/trash-icon.png"/>
          </div>

          <ng-template #soundElse>
            <div class="full-width" style="max-height: 40%;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3%">
              <input
                [accept]="'audio/mpeg'" class="input-file" #audioInput type="file" ngFileSelect
                (uploadOutput)="uploadFile($event, 'audio'); form.markAsDirty()">
              <img (click)="audioInput.click()" class="showable-add-property-icon" style="width: 15%" src="https://storage.googleapis.com/common-ox-assets/mini-lessons/answer-hunter/creator/sound.png"/>
              <!--            <img class="showable-add-property-icon" style="width: 15%" src="assets/record-audio-icon.png"/>-->
              <app-record-audio class="showable-add-property-icon"
                                style="width: 15%;"
                                (endAudio)="uploadFile($event, 'audio'); form.markAsDirty()"></app-record-audio>
            </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</form>
