.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.valid-form-icon {
  color: white;
}

.wrong-message {
  color: white;
  text-align: center;
}

.correct .wrong-message {
  color: #ff614c;
  text-align: center;
}

.showable-property {
  padding: 3%;
}

.showable-add-property-icon {
  border: solid 1px #706f6f;
  padding: 1%;
  border-radius: 3px;
}
