<!--<div fxFlex="grow"-->
<!--     fxLayoutAlign="center center"-->
<!--     fxLayout="column"-->
<!--     fxLayoutGap="2%"-->
<!--     style="background: lightblue">-->
<!--      <div class="tempButton" (click)="onClickSendOutput()">Send output</div>-->
<!--      <div >the input value for inputVar is: {{inputVar}}</div>-->
<!--</div>-->
<div fxLayout="row"  fxFlex="grow" fxLayoutGap="2%" style="padding-bottom: 4%; background: red">
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="1%">
    <div class="full-width" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1%" fxFlexFill>
      <span>Anfitrión:</span>
      <!--   <app-choice-showable fxLayout="row" style="height: 20vw; padding: 2%" class="gauss full-width" [showable]="{showableType: 'image', value: }">

        </app-choice-showable> -->
<!--      <app-image-viewer style="height: 20vw; padding: 2%" class="gauss full-width" [directSource]="'https://storage.googleapis.com/common-ox-assets/mini-lessons/muero-por-saber/' + form.get('host').value + '.svg'">-->

<!--      </app-image-viewer>-->
      <div fxLayout="row wrap" class="full-width" fxLayoutAlign="center center" fxLayoutGap="1%">
        <button color="primary" [class.selected]="form.get('host').value === 'gauss'" (click)="updateHost('gauss')" mat-stroked-button="">Gauss</button>
        <button color="primary" [class.selected]="form.get('host').value === 'cortazar'" (click)="updateHost('cortazar')" mat-stroked-button="">Cortázar</button>
        <button color="primary" [class.selected]="form.get('host').value === 'yaci'" (click)="updateHost('yaci')" mat-stroked-button="">Yací</button>
        <button color="primary" [class.selected]="form.get('host').value === 'eulogia'" (click)="updateHost('eulogia')" mat-stroked-button="">Euologia</button>
      </div>
    </div>
  </div>
  <mat-divider [inset]="true" [vertical]="true"></mat-divider>
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start">
    <div class="full-width" fxLayout="row" fxLayoutAlign="center center"><h3><i>Resumen</i></h3></div>
    <div class="full-width" style="padding: 2%;" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="2%" >

      <mat-divider [inset]="true"></mat-divider>
      <div><b>Nombre:</b>  {{infoFormGroup.get('name').value}}</div>
      <div><b>Descripción:</b> {{infoFormGroup.get('description').value}}</div>
      <!-- <div><b>Orden aleatorio:</b> {{form.get('isRandom').value ? 'sí' : 'no'}}</div> -->
      <mat-divider [inset]="true"></mat-divider>
      <div><b>Cantidad de ejercicios:</b> {{exercisesQuantity}}</div>
      <div *ngIf="exercisesQuantity / form.get('goal').value < 2" style="color: #ff7633">
        <b>¡Atención!</b> Hay muy pocos ejercicios para llegar a {{form.get('goal').value}} puntos. Las preguntas se repetirán.
        Se recomienda que haya al menos {{form.get('goal').value}} ejercicios. Puedes guardar y luego cargar más.
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-accordion class="full-width">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>settings</mat-icon>
            Opciones avanzadas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="form" fxLayout="column" class="full-width" fxLayoutGap="5%">
          <!-- <mat-form-field>
            <mat-select  placeholder="Tipo de trivia" [formControlName]="'triviaType'" >
              <mat-option *ngFor="let triviaType of triviaTypes" [value]="triviaType.value">
                {{triviaType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <div fxLayout="column">
            <mat-checkbox  [formControlName]="'isRandom'" class="full-width">
              Ejercicios en orden aleatorio
            </mat-checkbox>
            <mat-hint>(Si no está tiltdado, el orden de los ejercicios será como están cargados)</mat-hint>
          </div>


          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Respuestas correctas para ganar</mat-label>
            <input min="5" max="20" matInput [formControlName]="'goal'" type="number" placeholder="Objetivo de respuestas">
            <mat-hint align="start">Las respuestas para ganar deben ser entre 5 y 20</mat-hint>
          </mat-form-field>
          <!-- <div fxLayout="column" *ngIf="isPropertyRequired('maxPlayers');else onePlayer">
            <div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-form-field appearance="standard" >
                <mat-label>Máxima cantidad de jugadores</mat-label>
                <input min="1" max="8" matInput [formControlName]="'maxPlayers'" type="number" placeholder="Máx">
              </mat-form-field>
            </div>
          </div>
          <ng-template #onePlayer>
            <h4>En este modo, el juego será de a un sólo jugador.</h4>
          </ng-template>
 -->

        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


</div>
