<div class="create-container"
     style="overflow: scroll"
     fxFlex="grow" fxLayout="column"  fxLayoutAlign="start center">
  <div style="margin: 1%" class="full-width header-creator-logo"
       fxFlex="25" fxLayout="column" fxLayoutAlign="center center">
    <img
         style="filter: drop-shadow(3px 3px 3px black)"
         [src]="creator?.logoPath || ''"/>
  </div>
  <mat-horizontal-stepper *ngIf="creator && creator.gameConfig && gameForm" [selectedIndex]="0" [linear]="!gameForm.valid"
                          [ngClass.lt-lg]="{'full-width': true}" [ngClass.gt-md]="{'three-quarter-width': true}"
                          #stepper
                          style="position: relative; padding: 1%;">
    <mat-step [stepControl]="creator.infoFormGroup">
      <ng-template matStepLabel>Información</ng-template>
      <div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center" style="padding-top: 2%" fxLayoutGap="2%">
        <app-game-info-form
          [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"
          fxFlex="90" class="three-quarter-width" [resourceUid]="creator.gameConfig.resourceUid"
          [form]="creator.infoFormGroup"></app-game-info-form>
        <div fxLayout="row" class="full-width" fxLayoutAlign="end center">
          <!--style="position: absolute; bottom: 2vh; right: 2vh"-->
          <button class="navigate-button" matStepperNext mat-raised-button>Continuar
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="creator.choicesFormArray">
      <ng-template matStepLabel>Ejercicios</ng-template>
      <div fxFlex="grow" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div class="full-width" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4px">
          <button matTooltip="Ejercicio anterior" fxHide.gt-sm mat-icon-button [disabled]="currentChoice === 0"
                  (click)="changeCurrentChoice(-1)">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <div *ngIf="creator.canAddExercises" fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" class="full-width">
          <span fxLayout="row" fxLayoutGap="5px" style="padding-left: 10px; height: 100%;">
            <button class="add-button" mat-raised-button (click)="addChoice()"> <mat-icon>add_circle_outline</mat-icon> Agregar ejercicio</button>
            <button class="add-button" mat-icon-button mat-raised-button [matMenuTriggerFor]="addMenu"><mat-icon>arrow_drop_down</mat-icon></button>
          </span>
            <div fxFlex="grow" [fxLayout]="creator.choicesFormArray.controls.length > 25 ? 'row wrap' : 'row'"
                 [fxLayout.sm]="creator.choicesFormArray.controls.length > 15 ? 'row wrap' : 'row'"
                 [fxLayout.xs]="creator.choicesFormArray.controls.length > 11 ? 'row wrap' : 'row'"
                 fxLayoutAlign="start center" fxLayoutGap="4px">
              <a fxLayout="row wrap"
                 fxLayoutAlign="center center"
                 (click)="currentChoice = i"
                 *ngFor="let choiceForm of creator.choicesFormArray.controls, let i = index"
                 [class.selected-index]="i === currentChoice" [class.index-form]="i !== currentChoice"
                 [ngClass]="{'valid-form-icon': choiceForm.valid}">
                {{i + 1}}
              </a>
            </div>
          </div>
          <button matTooltip="Ejercicio siguiente" fxHide.gt-sm (click)="changeCurrentChoice(1)" mat-icon-button
                  [disabled]="currentChoice === creator.choicesFormArray.length - 1">
            <mat-icon>navigate_next</mat-icon>
          </button>
          <mat-menu #addMenu="matMenu">
            <button (click)="addChoice()" mat-menu-item>Agregar al final</button>
            <button [matMenuTriggerFor]="positionsMenu" mat-menu-item>Agregar en</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="removeChoice(currentChoice)"
                    [disabled]="creator.choicesFormArray.controls.length === 1">
              <mat-icon>delete</mat-icon>
              Eliminar actual
            </button>
          </mat-menu>
          <mat-menu #positionsMenu="matMenu">
            <button (click)="addChoice(i)" mat-menu-item
                    *ngFor="let _ of creator.choicesFormArray.controls, let i = index">{{i + 1}}</button>
          </mat-menu>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
            <button color="primary" fxLayout="row" mat-raised-button [disabled]="saving || !gameForm.dirty"
                    (click)="saveGame()">
              <mat-icon *ngIf="!saving">save</mat-icon>
              {{saving ? 'Guardando...' : 'Guardar'}}</button>
            <mat-spinner *ngIf="saving" [diameter]="20"></mat-spinner>
          </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between" class="full-width" fxLayoutGap="1%">
          <div fxHide.lt-md fxLayout="column" fxLayoutAlign="center center" (click)="changeCurrentChoice(-1)">
            <button matTooltip="Ejercicio anterior" mat-icon-button [disabled]="currentChoice === 0">
              <mat-icon>navigate_before</mat-icon>
            </button>
          </div>
          <div
            class="full-width" fxLayout="column" fxLayoutAlign="center center">
            <app-exercise-form
              *ngIf="creator.creatorType === 'answer-hunter'"
              [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"
              [formData]="{form: creator.choicesFormArray.at(currentChoice),
               initialDatas: creator.gameConfig.exercises[currentChoice], creator: creator}"
              class="full-width"></app-exercise-form>
            <app-sequence-exercise-form
              *ngIf="creator.creatorType === 'sort-elements'"
              [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"
              [formData]="{form: creator.choicesFormArray.at(currentChoice),
              initialDatas: creator.gameConfig.exercises[currentChoice], creator: creator}" class="full-width"></app-sequence-exercise-form>
            <app-relations-form
              *ngIf="['memotest', 'join-with-arrows'].includes(creator.creatorType)"
              [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"
              [formData]="{form: creator.choicesFormArray.at(currentChoice),
              initialDatas: creator.gameConfig.exercises[currentChoice], creator: creator}" class="full-width"></app-relations-form>

          </div>
          <div fxHide.lt-md fxLayout="column" (click)="changeCurrentChoice(1)" fxLayoutAlign="center center">
            <button matTooltip="Ejercicio siguiente" mat-icon-button
                    [disabled]="currentChoice === creator.choicesFormArray.length - 1">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </div>
        <div class="full-width" fxLayoutAlign="space-between">
          <button class="navigate-button" matStepperPrevious mat-raised-button>
            <mat-icon>navigate_before</mat-icon>
            Volver
          </button>
          <button class="navigate-button" matStepperNext mat-raised-button>Continuar
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="creator.infoFormGroup">
      <ng-template matStepLabel>Configuración</ng-template>
      <div class="full-width" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">
        <app-settings-form
          [infoFormGroup]="creator.infoFormGroup" [exercisesQuantity]="creator.choicesFormArray.length"
          [form]="{form: creator.settingsFormGroup, creator: creator}" class="full-width"
        ></app-settings-form>
        <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
          <button class="navigate-button" mat-raised-button matStepperPrevious>
            <mat-icon>navigate_before</mat-icon>
            Volver
          </button>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <button color="primary" fxLayout="row" mat-raised-button [disabled]="saving || !gameForm.dirty"
                    (click)="saveGameAndExit()">
              <mat-icon *ngIf="!saving">save</mat-icon>
              {{saving ? 'Guardando...' : 'Guardar y salir'}}</button>
            <mat-spinner *ngIf="saving" [diameter]="20"></mat-spinner>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <mat-spinner *ngIf="creator && !creator.gameConfig" color="accent"></mat-spinner>
</div>

