.wrong-message {
  color: #ff614c
}

.valid-form-icon {
  color: #2bb59d;
}

.options-container {
  color: white;
  background-color: #ff614c;
  padding: 1%;
}
.statement-container {
  background-color: #ffc31b; padding: 1%
}
.correct {
  color: white;
  background-color: #2bb59d;
  padding: 1%;
}
.add-button {
  min-height: 40px;
  background-color: #87bbf9;
  color: white;
}
