<form autocomplete="off" *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutGap="2%">
          <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px"><b>Enunciado</b>
                                <span fxLayout="row" fxLayoutAlign="center center"
                                      *ngIf="!form.get('statement').valid "
                                      class="wrong-message"> El enunciado debe tener cargado al menos un texto, imágen o audio </span>
            <mat-icon *ngIf="form.get('statement').valid" class="valid-form-icon" matSuffix>check_circle</mat-icon></span>
      <app-showable-form
        [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"
        [maxTextLength]="creator.statementTextMaxLength"
        [form]="form.get('statement')"
        class="statement-container"  fxFlex="grow"></app-showable-form>
                  <span
                    fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                  <b>Opciones</b>
                    <span fxLayout="row" fxLayoutAlign="center center"
                                        *ngIf="getCurrentOptionsFormArray().hasError('atLeastOneAnswerIsCorrect')"
                                        class="wrong-message"> Debe haber una (y única) opción correcta </span>
                    <span fxLayout="row" fxLayoutAlign="center center"
                                        *ngIf="getCurrentOptionsFormArray().hasError('atLeastOneProp') && !getCurrentOptionsFormArray().hasError('atLeastOneAnswerIsCorrect')"
                                        class="wrong-message"> Toda opción debe tener cargada al menos un texto, imágen o audio </span> <mat-icon
                    *ngIf="getCurrentOptionsFormArray().valid" class="valid-form-icon" matSuffix>check_circle</mat-icon>
                </span>
      <div class="full-width" fxLayout="column" fxLayoutGap="1%">
        <div *ngFor="let option of getCurrentOptionsFormArray().controls, let i = index"
             class="full-width options-container" [ngClass]="{'correct': option.get('isCorrect').value}" fxLayout="row"
             fxLayoutAlign="start center">
          <form class="full-width" [formGroup]="option" fxLayoutAlign="center start" fxLayoutGap="1%" fxLayout="column"
                fxFlex="grow">
            <mat-slide-toggle [color]="'primary'" [labelPosition]="'after'" [formControlName]="'isCorrect'">
                <span style="font-weight: 400">
                  {{ option.get('isCorrect').value ? 'Es correcta' : 'Es incorrecta'}}
                </span>
            </mat-slide-toggle>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%" class="full-width">
              <b>{{ i + 1 + '.'}}</b>
              <app-showable-form
                [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"
                [maxTextLength]="12"
                [form]="option.get('showable')"
                class="full-width"></app-showable-form>
            </div>
          </form>
          <button mat-icon-button (click)="removeOption(i)"
                  [disabled]="getCurrentOptionsFormArray().controls.length === 2">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button class="add-button" mat-raised-button [disabled]="getCurrentOptionsFormArray().controls.length >= 4"
                  (click)="addOption()" color="accent">
            <mat-icon>add</mat-icon>
            Agregar opción
          </button>
        </div>
      </div>
</form>
