<form autocomplete="off" *ngIf="form" [formGroup]="form" fxLayout="column" fxLayoutGap="2%">

          <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px"><b>Enunciado</b>
                                <span fxLayout="row" fxLayoutAlign="center center"
                                      *ngIf="!form.get('statement').valid "
                                      class="wrong-message"> El enunciado debe tener cargado al menos un texto, imágen o audio </span>
            <mat-icon
              *ngIf="form.get('statement').valid" class="valid-form-icon" matSuffix>check_circle</mat-icon></span>
  <app-showable-form
    [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"
    [maxTextLength]="creator.statementTextMaxLength"
    [form]="form.get('statement')"
    [textArea]="false"
    class="statement-container" fxFlex="grow"></app-showable-form>
  <span
    fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                  <b>Relaciones</b>
    <mat-icon *ngIf="getFormArray('relations').valid" class="valid-form-icon" matSuffix>check_circle</mat-icon>
    <span fxLayout="row" fxLayoutAlign="center center"
          *ngIf="!getFormArray('relations').valid"
          class="wrong-message"> Toda opción debe tener cargada al menos un texto, imágen o audio </span>
                </span>
  <div class="full-width" fxLayout="column" fxLayoutGap="1%">
    <div *ngFor="let relationArray of getFormArray('relations').controls, let i = index"
         class="full-width options-container correct" fxLayout="row"
         fxLayoutAlign="start center" style="border: solid">
      <b style="margin-right: 2%">{{ i + 1 + '.'}}</b>
      <div fxLayout.xs="column" fxFlex="grow" fxLayout="row">
        <form *ngFor="let relation of relationArray.controls; let j = index" class="full-width relation-form"
              [formGroup]="relation" fxLayoutAlign="center start" fxLayoutGap="1%" fxLayout="column"
              fxFlex="grow">
          <div fxLayout="row"
               fxLayoutAlign="start center" fxLayoutGap="2%" class="full-width relation-form-showable">
            <app-showable-form
              [textArea]="false"
              [resourcesFields]="true"
              [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"
              [maxTextLength]="creator.optionTextMaxLength"
              [form]="relation"
              class="full-width relation-form-showable"></app-showable-form>
          </div>
        </form>
      </div>
      <button mat-icon-button (click)="removeOption('relations', i)"
              [disabled]="getFormArray('relations').controls.length === minOptions">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button class="add-button" mat-raised-button [disabled]="getFormArray('relations').controls.length >= maxOptions"
              (click)="addOption('relations')" color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <!--  <span-->
  <!--    fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">-->
  <!--                  <b>Trampas</b>-->
  <!--                </span>-->
  <!--  <div cdkDropList class="full-width" fxLayout="column" fxLayoutGap="1%"-->
  <!--       (cdkDropListDropped)="drop($event, 'traps')">-->
  <!--    <div *ngFor="let trap of getFormArray('traps').controls, let i = index"-->
  <!--         cdkDrag-->
  <!--         class="full-width options-container"  fxLayout="row"-->
  <!--         fxLayoutAlign="start center">-->
  <!--      <form class="full-width" [formGroup]="trap" fxLayoutAlign="center start" fxLayoutGap="1%" fxLayout="column"-->
  <!--            fxFlex="grow">-->
  <!--        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2%" class="full-width">-->
  <!--          <b>{{ i + 1 + '.'}}</b>-->
  <!--          <app-showable-form-->
  <!--            [textArea]="false"-->
  <!--            [resourcesFields]="true"-->
  <!--            [mediaFilesAlreadyLoaded]="mediaFilesAlreadyLoaded"-->
  <!--            [maxTextLength]="12"-->
  <!--            [form]="trap"-->
  <!--            class="full-width"></app-showable-form>-->
  <!--        </div>-->
  <!--      </form>-->
  <!--      <button mat-icon-button (click)="removeOption('traps', i)">-->
  <!--        <mat-icon>close</mat-icon>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--    <mat-divider [inset]="true"></mat-divider>-->
  <!--    <div fxLayout="row" fxLayoutAlign="center center">-->
  <!--      <button class="add-button" mat-raised-button [disabled]="getFormArray('traps').controls.length >= maxOptions"-->
  <!--              (click)="addOption('traps')" color="accent">-->
  <!--        <mat-icon>add</mat-icon>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </div>-->
</form>
